.DS_Store
.vscode
.project
.settings
.Target
.*.txt
.*.lst
.*.jar
.*.class
node_modules/
myapp/node_modules/
backend/node_modules/
myapp/node_modules/.cache/default-development/1.pack
myapp/node_modules/.cache/default-development/11.pack
myapp/node_modules/.cache/default-development/index.pack.old
myapp/node_modules/.cache/default-development/index.pack
myapp/node_modules/.cache/.eslintcache
