.DS_Store
.vscode
.project
.settings
.Target
.*.txt
.*.lst
.*.jar
.*.class
*/node_modules
myapp/node_modules/.cache/.eslintcache
myapp/node_modules/.cache/default-development/0.pack
myapp/node_modules/.cache/default-development/index.pack.old
myapp/node_modules/.cache/default-development/index.pack
