.App {
    text-align: center;
}

button {
    border: 5px solid black;
    background-color: white;
    color: black;
    font-size: 32px;
    width: 200px;
    height: 100px;
    font-family: "Bayon";
}

button:hover {
    background-color: black;
    color: #F8CB2D;
}

.splash-image {
    width: 100%;
}

.header-image {
    height: 64px;
    position: absolute;
    left: 30px;
}

.App-header {
    background-color: #f8cb2e;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    height: 100px;

}

.menu-categories-container {
    margin-top: -200px;
    margin-left: 10px;
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.menu-category-container {
    display: flex;
    flex: 1;
}

.separate{
    height: 20px;
}

.menu-items{ /* This is for the menu items shown when a button is clicked */
    justify-content: left;
    font-size: 30px;
    font-family: "Bayon";
    text-align: left;
    margin-left: 10px;
}

.order-container{ /* This is for the box in which a current order is displayed */
    position: sticky;
    right: 20px;
    justify-content: left;
    border: 5px solid black;
    background-color: #F8CB2D;
    height: 200px;
    width: 25%;
    font-family: "Bayon";
    font-size: 32px;
    top: 0;
    left: 72%;
    z-index: 100;
}


.expanded-div {
    justify-content: left;
    position: absolute;
    height: fit-content;
    width: 70%;
    border: 5px solid #f8cb2e;
}

.App-link {
    color: #61dafb;
}


@font-face {
    font-family: "Bayon";
    src: local(Bayon-Regular),
    url("./fonts/Bayon-Regular.ttf") format("truetype");
}
