.App {
    text-align: center;
}

button {
    border: 5px solid black;
    background-color: white;
    color: black;
    font-size: 32px;
    width: 200px;
    height: 100px;
    font-family: "Bayon";
}

button:hover {
    background-color: black;
    color: #F8CB2D;
}

.splash-image {
    width: 1385px;
}

.header-image {
    height: 64px;
    position: absolute;
    left: 30px;
}

.App-header {
    background-color: #f8cb2e;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    height: 100px;

}

.menu-categories-container {
    display: flex;
    width: 70%;
    justify-content: space-between;

}

.menu-category-container {
    flex: 1;
}

.separate{
    height: 20px;
}

p{
    justify-content: left;
    margin-left: -30%;
    font-size: 30px;
    font-family: "Bayon";
}

.order-container{
    position: absolute;
    right: 20px;
    justify-content: left;
    border: 5px solid black;
    background-color: #F8CB2D;
    height: 200px;
    width: 25%;
    font-family: "Bayon";
    font-size: 32px;
    top: 350px;
}

.expanded-div {
    justify-content: left;
    position: absolute;
    height: fit-content;
    width: 70%;
    border: 5px solid #f8cb2e;
}

.App-link {
    color: #61dafb;
}



@font-face {
    font-family: "Bayon";
    src: local(Bayon-Regular),
    url("./fonts/Bayon-Regular.ttf") format("truetype");
}
